.env
.env.local.php
/var/cache/*
/var/logs/*
!var/cache/.gitignore
!var/logs/.gitignore
/bin/*
!bin/console
/phpunit.xml
.phpunit.result.cache
/html-coverage/
/composer.phar
/.web-server-pid
.AppleDouble
.LSOverride
vendor/
.idea/