html {
  box-sizing: border-box;
  font-size: $font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family;
  font-weight: 400;
  color: $font-color;
}

a {
  color: $color-primary;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    color: lighten($color-primary, 10%);
  }
}

p {
  line-height: 1.4;
}

::selection {
  background: $color-primary;
  color: white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100vh;
}
