$tablet: 768px;
$desktop: 1024px;
$container: 1240px;

$font-size: 1rem;
$font-family: "Montserrat", sans-serif;

$font-color: #141515;
$color-primary: #9e1738;
$color-secondary: #797e89;
$color-text: #141515;
$color-accent: #212224;
$color-border: #eee;
