@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

.loading {
  @apply flex space-x-1 p-1 rounded-sm shadow-sm select-none animate-pulse relative;

  &__item {
    @apply w-6 rounded-sm shadow-sm animate-pulse;
  }

  &__new {
    @apply w-6 h-1.5 rounded-sm shadow-sm animate-pulse flex items-center justify-center;
    font-size: 0.12rem;
  }

  &__text {
    @apply absolute bottom-0.5 right-0.5 leading-3 animate-pulse;
    font-size: 0.5rem;
  }
}

.btn-white-30 {
  @apply text-base leading-normal text-gray-50 px-1.5 py-1 grid grid-flow-col items-center gap-1.5 bg-white-30 rounded transition hover:bg-white-20 focus:outline-none;
}

.md\:btn-white-30 {
  @apply text-base leading-normal hidden text-gray-50 px-1.5 py-1 md:grid grid-flow-col items-center gap-1.5 bg-white-30 rounded transition hover:bg-white-20 focus:outline-none;
}

.board-list-card {
  $parent: &;

  &__fade {
    @apply absolute inset-0 block bg-transparent transition bg-black-10 z-0;
  }

  &__link {
    @apply flex flex-col px-2 py-1.5 h-28 rounded relative text-gray-50;

    &:hover {
      #{$parent}__fade {
        @apply bg-black-20;
      }
    }
  }

  &__name {
    @apply max-h-12 text-gray-50 text-lg leading-6 font-bold overflow-ellipsis overflow-hidden;
    z-index: 1;
  }
}

.board-add-category {
  $this: &;
  @apply w-64;

  &__btn-open {
    @apply flex flex-1 w-full items-center p-3 text-sm leading-4 text-gray-50 rounded shadow-sm bg-white-30 hover:bg-white-20 focus:outline-none transition-colors duration-100;
  }

  &__input {
    @apply hidden text-sm text-gray-400 placeholder-gray-400 rounded border-2 border-gray-400 w-full px-2 py-1.5 focus:outline-none;
  }

  &__toolbar {
    @apply h-0 flex items-center space-x-2 overflow-hidden;
  }

  &__btn-add {
    @apply px-3 py-1.5 text-sm text-white rounded focus:outline-none disabled:bg-gray-400 disabled:cursor-default;
  }

  &__btn-close {
    @apply focus:outline-none text-gray-500 hover:text-black-100;
  }

  &_open {
    form {
      @apply overflow-hidden bg-gray-200 rounded shadow-sm p-1;
    }

    #{$this}__input {
      @apply block transition-all duration-100;
    }

    #{$this}__toolbar {
      @apply h-auto pt-1 transition-all duration-100;
    }

    #{$this}__btn-open {
      @apply hidden;
    }
  }
}
